FLASK_ENV=development
PORT=5000
DEFAULT_MIN_DETECTION_CONFIDENCE=0.6
DEFAULT_MIN_TRACKING_CONFIDENCE=0.5
DEFAULT_LASER_SENSITIVITY=0.7
DEFAULT_PYRO_SENSITIVITY=0.8
DEFAULT_STREAM_URL=
MEDIAPIPE_POSE_MODEL_PATH=
